.bg-header {
    background-color: rgb(190, 255, 129);
    color: antiquewhite;
}

.white-text{
    color: antiquewhite;
}

.blue-button{
    background-color: rgb(0, 163, 255);
    width: 50em;
}
/*
rgb(255, 103, 183)     pink button
rgb(190, 255, 129)     green-ishhhh button
rgb(0, 163, 255)     blue button
rgb(0, 80, 0)     dark green
button
rgb(255, 223, 80)    yellow-orange-issshh
*/